# .NET
backend/bin/
backend/obj/
backend/*.db
backend/*.db-shm
backend/*.db-wal
backend/.vs/

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.vscode/
.idea/
*.user

# OS
.DS_Store
Thumbs.db
